kind: ConfigMap
apiVersion: v1
data:
  #main-snippet: load_module /usr/lib/nginx/modules/ngx_http_sigsci_nxo_module-1.15.8.so;
  main-snippet: load_module /usr/lib/nginx/modules/ngx_http_sigsci_module.so;
  http-snippet: sigsci_agent_host unix:/sigsci/tmp/sigsci.sock;
metadata:
  name: nginx-configuration
  namespace: {{ .Release.Namespace }}
  labels:
    app: {{ .Release.Name }}
    app.kubernetes.io/name: {{ .Release.Name }}
    app.kubernetes.io/part-of: {{ .Release.Name }}
